.App {
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 400px; 
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px); 
  z-index: 1; 
  background-color: white;
  position: absolute;
  top: 38%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10; 
  opacity: 0.8;
}

.form-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}


.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; 
}


.form-button:hover {
  background-color: #0056b3;
}

.form-divider {
  margin: 20px 0;
}

.form-link {
  color: #007bff;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.heatmap {
  position: fixed;
  top: 15vh; 
  left: 15%; 
  width: 70%; 
  height: 70vh; 
  z-index: -1;
  opacity: 0.8; 
  display: flex;
  flex-wrap: wrap; 
  align-content: flex-start; 
  justify-content: center; 
}

.heatmap-row {
  display: flex;
}

.heatmap-cell {
  flex: 0 0 auto; 
  width: calc(100% / 24 - 2px);
  height: calc(100% / 7 - 2px); 
  background-color: red; 
  margin: 1px;
  transition: opacity 0.3s ease;
}



.background-image {
  position: fixed;
  top: 0vh; 
  left: 0%; 
  width: 100%; 
  height: 100vh; 
  background: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Georgetown_university_campus_map.PNG') no-repeat center center;
  background-size: cover; 
  z-index: -1;
  opacity: 0.4;
  border-radius: 8px;
}

.georgetown-text {
  position: absolute;
  top: calc(25% - 80px); 
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px; 
  color: #030303;
  z-index: 15;
  background: rgba(253, 253, 253, 0.5); 
  padding: 10px; 
  border-radius: 5px; 
  font-weight: bold;
}

.main-page-container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: #f0f0f0; 
}

.main-page {
  padding: 20px;
}

.text-response {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

button.selected {
  border-color: blue;
  font-weight: bold;
}

.custom-nav .nav-link {
  color: #030303;
  margin-bottom: 2rem;
}

.custom-nav {
  position: absolute;
  height: 90%;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  font-size: 3rem;
  border-right: 4px solid #000;
}

